extends layout.pug
block content
	h1 #{siteName}
	p 
		| Please 
		a(href="/login") Log In
		|  or 
		a(href="/register") Register
		|  a new account to use the site's features
	p
		a(href='/about') About 
	p 
		a(href='/userlist') User List
	p 
		a(href='/gamelist') Game List 