extends layout.pug
block content
	h1 User List:
	p select some usernames to see which games they have in common
	form(action="filter", method="post")
		each user in list
			p #{user.username}
				input(type="checkbox", name=user.id,id=user.id) 
		input(type="submit", value="Filter")